{% extends 'blog/base.html' %}

  {% block content %}
   <div>
      <h3> I am a software engineer currently engaged with MILVIK Technology Services India
          Pvt Ltd. </h3>
       <p>
           Hey, and welcome to this about page! :)
       </p>
      <p> I like exploring computer science related stuff,
          coding, playing cricket, swimming. I think a human should never stop learning because
          there is a lot to gain and lose eventually. </p>
       <h4>Get in touch with me</h4>
Pick your communication channel of choice:
       <ul class="fa-ul">
           <li><strong>Mail:</strong> <a style="text-decoration:none"
                                         href="mailto:prashantkr.kumar88@gmail.com">prashantkr.kumar88@gmail.com
                                      </a>
           </li>
           <li><strong>Github:</strong> <a style="text-decoration:none"
                                           href="https://github.com/PrashantPST"
                                           target="_blank" >PrashantPST
                                        </a>
           </li>
           <li><strong>LinkedIn: </strong> <a style="text-decoration:none"
                                              href="https://www.linkedin.com/in/prashantcse/"
                                              target="_blank" >prashantcse
                                           </a>
           </li>
       </ul>

   </div>

   {% endblock %}
