{% extends "blog/base.html" %}
{% load app_tags %}
{% load crispy_forms_tags %}
{% block content %}
   <div class="content-section">
       <form method="POST">
           {% csrf_token %}
           <fieldset class="form-group">
              <legend class="border-bottom mb-4"> Blog Post </legend>
                 {{ form|crispy }}
           </fieldset>
           <div class="form-group">
                   {% if view.view_name == 'PostCreateView' %}
                      <button class="btn btn-outline-info" type="submit"> Post </button>
                   {% elif view.view_name == 'PostUpdateView' %}
                      <button class="btn btn-outline-info" type="submit"> Update </button>
                   {% endif %}
               </button>
           </div>
       </form>
   </div>
{% endblock content %}